@import "variables";

$sidebar_width: 250px;
$sidebar_icon_label_gap: 20px;
$sidebar_label_size: 14px;

$main_nav_height: 90px;
$main_nav_user_image_size: 30px;

$messages_nav_width: 400px;
$messages_chat_header_height: 100px;
$messages_chat_bottom_height: 150px;
$message_chat_bottom_attachments_icon_gap: 35px;

$create_project_header_height: 100px;
$create_project_bottom_height: 140px;

.dashboard {

  /************************************************
    Dashboard Page
   ************************************************/

  &_page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $generic_light_blue;
    display: flex;
  }

  /************************************************
    Dashboard Sidebar
   ************************************************/

  &_sidebar {
    width: $sidebar_width;
    height: 100%;
    display: inline-block;
    background-color: $generic_white;
    box-shadow: $generic_box_shadow;
    z-index: 1;

    &_bottom {
      margin-top: 100px;
    }

    &_header {
      display: flex;
      width: 100%;
      height: $main_nav_height;
      padding: 20px 30px;
      align-items: center;
      background: $generic_blue;
      font-family: $Helvetica_font;
      //font-weight: 600;

      &_icon {
        height: 20px;
        display: flex;
        align-items: center;

        svg {
          font-size: 21px;
          fill: $generic_white;
        }
      }

      &_label {
        margin-left: $sidebar_icon_label_gap;
        font-size: 15px;
        color: $generic_white;
        font-weight: bold;
        user-select: none;
      }
    }

    &_items {
      width: 100%;
      margin-top: 30px;
    }

    &_item {
      position: relative;
      display: flex;
      width: 100%;
      padding: 15px 30px;
      align-items: center;
      background-color: transparent;
      cursor: pointer;
      overflow: hidden;
      transition-delay: 0s;
      transition: .2s ease-in-out;

      &:hover {
        background-color: rgba(206, 206, 206, 0.08);
      }

      &_link-active {

        .dashboard_sidebar_item{
          background-color: $generic_light_blue;
          transition-delay: .3s;

          &::before {
            opacity: 1;
            transform: translateY(-50%) scaleY(1);
          }

          .dashboard_sidebar_item_label {
            color: $generic_blue;
          }

          .dashboard_sidebar_item_icon {

            svg {
              fill: $generic_blue;

              g,
              path {
                fill: $generic_blue;
              }
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 1px;
        transform: translateY(-50%) scaleY(0);
        height: 70%;
        width: 3px;
        background: $generic_blue;
        opacity: 0;
        pointer-events: none;
        transition: .2s $fashioned_bezier;
      }

      &_icon {
        height: 20px;
        display: flex;
        align-items: center;
        pointer-events: none;

        svg {
          font-size: 21px;
          fill: $generic_black;
          width: 15px;

          g,
          path {
            fill: $generic_black;
          }
        }
      }

      &_label {
        margin-left: $sidebar_icon_label_gap;
        font-size: $sidebar_label_size;
        color: $generic_black;
        font-family: $Helvetica_font;
        //font-weight: 600;
        //font-weight: bold;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  /************************************************
    Main Dashboard
   ************************************************/

  &_main {
    width: calc(100% - #{$sidebar_width});
    height: 100%;
    //background-color: white;

    /************************************************
      Main Navigation
     ************************************************/

    &_nav {
      width: 100%;
      display: flex;
      height: 90px;
      background: white;
      z-index: 2;
      padding: 0 20px;
      box-shadow: 0 3px 6px -2px rgba(0,0,0,0.15);

      &_input {
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 20px;
        flex-shrink: 1;

        input {
          padding: 20px 0 20px 50px;
          outline: none;
          border: none;
          font-size: 16px;
          width: 100%;
          background: #f1f1f13d;
          border-radius: 200px;
          color: $generic_black;
          transition: .14s ease-in;
          font-family: $Helvetica_font;
          //font-weight: 600;

          &:focus {
            box-shadow: 0 0 6px -2px rgba(0,0,0,0.3);

            ~ .dashboard_main_nav_input_icon svg {
              stroke: $generic_black;
            }
          }
        }

        &_icon {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-55%);
          display: flex;
          align-items: center;

          svg {
            font-size: 18px;
            stroke: $generic_grey;
            transition: .15s ease-in;
          }
        }
      }

      &_notification {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 20px;
        flex-shrink: 0;
        position: relative;

        &_count {
          position: absolute;
          top: 50%;
          right: 0;
          width: 14px;
          height: 14px;
          transform: translateY(-90%);
          font-size: 9px;
          padding: 2px;
          background-color: $generic_red;
          border-radius: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $generic_white;
          font-weight: bold;
          font-family: $Helvetica_font;
          //font-weight: 600;
          pointer-events: none;

          &[data-count="0"] {
            opacity: 0;
            pointer-events: none;
          }
        }

        &_icon {
          display: flex;
          align-items: center;
          border-radius: 200px;
          transition: .14s ease-in;
          cursor: pointer;

          &:hover {
            background-color: $generic_light_purple;
          }

          svg {
            font-size: 30px;
            stroke: $generic_black;
            fill: $generic_black;
          }
        }
      }

      &_user {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 20px;
        position: relative;

        &_image {
          width: $main_nav_user_image_size;
          height: $main_nav_user_image_size;
          border-radius: 200px;
          margin-right: 10px;
          border: 2px solid $generic_light_purple;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &_name {
          color: $generic_black;
          font-size: 15px;
          font-family: $Helvetica_font;
          //font-weight: 600;
          margin-right: 6px;
        }

        &_icon {
          display: flex;
          align-items: center;
          transition: .14s ease-in;
          cursor: pointer;
          border-radius: 200px;

          &:hover {
            background-color: $generic_light_purple;
          }

          svg {
            fill: $generic_black;
          }
        }

        &_dropdown {
          position: absolute;
          top: 80%;
          right: 0;
          width: 100%;
          background: white;
          box-shadow: 0 3px 8px -2px rgba(0,0,0,0.3);
          opacity: 0;
          pointer-events: none;
          transform: scaleY(0.8) translateY(-30px);
          transition: .25s $fashioned_bezier;
          z-index: 200;
          border-radius: 4px;

          &.show {
            opacity: 1;
            pointer-events: auto;
            transform: scaleY(1) translateY(0px);
          }
        }
      }
    }

    /************************************************
      Main Container
     ************************************************/

    &_container {
      width: 100%;
      height: calc(100% - #{$main_nav_height});
      overflow: auto;
    }

    /************************************************
      Main Container | Messages
     ************************************************/

    &_messages {
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      transform: scale(0.99);
      pointer-events: none;
      animation: loaded .3s $fashioned_bezier .1s forwards;

      img {
        width: 20px;
        height: 20px;
      }

      /************************************************
        Main Container | Messages | Nav
       ************************************************/

      &_nav {
        height: 100%;
        overflow: auto;
        width: $messages_nav_width;
        box-shadow: 2px 0 2px -2px rgba(0,0,0,.2);

        &_header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          padding: 40px 10px;

          &_item {
            font-size: 12px;
            color: $generic_black;
            font-family: $Helvetica_font;
            //font-weight: 600;
            position: relative;
            cursor: pointer;
            transition: .15s ease-in-out;

            &:hover {
              color: #585858;
            }

            &.active {
              color: $generic_blue;

              &::before {
                content: '';
                position: absolute;
                top: 200%;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                height: 3px;
                background: $generic_blue;
                border-radius: 200px;
              }
            }
          }
        }

        &_pane {
          width: 100%;
          padding: 5px 20px 20px;

          &_card {
            background: white;
            box-shadow: 0 2px 4px -2px rgba(0,0,0,.3);
            padding: 15px 20px;
            margin: 15px 0;
            transition: .4s $fashioned_bezier;
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
            animation: loadCards .4s $fashioned_bezier forwards;

            @include animDelay;

            &.active {
              background: $generic_dark_blue;

              .dashboard_main_messages_nav_pane_card_header_group_title,
              .dashboard_main_messages_nav_pane_card_message p {
                color: $generic_white;

                &.no_messages_yet {
                  color: #6a7f9c;
                }
              }
            }


            &:first-child {
              margin-top: 0;
              animation-delay: 0;
            }

            &_header {
              position: relative;
              display: flex;
              justify-content: space-between;

              &_group {
                display: flex;
                align-items: center;

                &_image {
                  margin-right: 10px;
                  border-radius: 200px;
                  overflow: hidden;
                  width: 20px;
                  height: 20px;
                  box-shadow: 0 0 3px -1px rgba(0,0,0, .6);

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                &_title {
                  font-size: 11px;
                  font-family: $Helvetica_font;
                  //font-weight: 600;
                  color: $generic_black;
                }

              }

              &_notification {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 40px;
              }

              &_icon {
                cursor: pointer;

                svg {
                  fill: $generic_grey;
                  font-size: 12px;
                }
              }

            }

            &_team {
              margin: 10px 0;
              padding: 5px 20px 20px;

              &:hover {
                background: rgba(238, 238, 238, 0.58);
              }

              &.active {
                background: $generic_blue;

                .dashboard_main_messages_nav_pane_card_team_title {
                  color: white;
                }

                .dashboard_main_messages_nav_pane_card_team_description {
                  p {
                    color: rgba(255, 255, 255, 0.67);
                  }
                }

                .dashboard_main_messages_nav_pane_card_team_bottom_timestamp {
                  color: rgba(255, 255, 255, 0.67);
                }
              }

              &_title {
                font-size: 14px;
                font-family: $Ubuntu_font;
                margin: 18px 0 10px;
              }

              &_description {
                width: 100%;
                margin-bottom: 20px;

                p {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  color: $generic_black;
                  font-size: 12px;
                }
              }

              &_bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_users {
                  display: flex;
                  align-items: center;

                  &_user {
                    margin-right: 10px;

                    img {
                      width: 22px;
                      height: 22px;
                      border-radius: 200px;
                    }
                  }
                }

                &_timestamp {
                  color: $generic_black;
                  font-size: 10px;
                  font-family: $Helvetica_font;
                  //font-weight: 600;
                }

              }

            }

            &_bottom {
              margin-top: 20px;
              width: 100%;
              display: flex;
              justify-content: flex-end;

              &_viewteams {
                font-size: 12px;
                cursor: pointer;
                color: $generic_blue;
                font-family: $Helvetica_font;
                //font-weight: 600;
              }
            }

            &_message {
              width: 100%;
              margin: 10px 0;

              p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $generic_black;
                font-size: 12px;

                &.no_messages_yet {
                  color: #c5c5c5;
                }
              }
            }

          }
        }
      }

      /************************************************
        Main Container | Messages | Chat
       ************************************************/

      &_chat {
        width: calc(100% - #{$messages_nav_width});
        height: 100%;

        /************************************************
          Main Container | Messages | Chat | Header
         ************************************************/

        &_header {
          width: 100%;
          height: $messages_chat_header_height;
          box-shadow: 0 1px 4px -2px rgba(0,0,0,0.2);
          background-color: rgba(255, 255, 255, 0.58);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 40px;

          &_title {
            display: flex;
            align-items: center;
            height: 100%;

            &_image {
              display: flex;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 200px;
              overflow: hidden;
              box-shadow: 0 0 4px -2px rgba(0,0,0,0.2);
              margin-right: 20px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            &_label {
              font-size: 23px;
              font-family: $QS;
              font-weight: 500;
              color: $generic_dark_black;
            }
          }

          &_menu {
            display: flex;
            height: 100%;
            align-items: center;

            &_users {
              display: flex;
              margin-right: 20px;

              &_user {
                margin-right: 15px;
                position: relative;

                &:last-child {
                  margin-right: 0;
                }

                &_image {
                  display: flex;
                  align-items: center;
                  width: 25px;
                  height: 25px;
                  position: relative;
                  border-radius: 200px;
                  box-shadow: 0 0 3px -1px rgba(0,0,0,0.3), 0 0 10px rgba(209, 176, 255, 0.3);

                  &:hover {

                    ~ .dashboard_main_messages_chat_header_menu_users_user_popup {
                      opacity: 1;
                      transform: translate(-50%, 0px);
                      pointer-events: auto;
                    }
                  }

                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 200px;
                  }

                }

                &_popup {
                  position: absolute;
                  top: 190%;
                  left: 50%;
                  padding: 20px 30px;
                  background-color: $generic_dark_black;
                  border-radius: 5px;
                  box-shadow: 0 4px 10px -2px rgba(0,0,0,0.3);
                  opacity: 0;
                  pointer-events: none;
                  transform: translate(-50%, -6px);
                  transition: .15s ease-in-out;

                  &::before {
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: 50%;
                    transform: translateX(-50%) rotateZ(45deg);
                    width: 15px;
                    height: 15px;
                    background-color: $generic_dark_black;
                  }

                  &_details {
                    text-align: center;

                    &_title {
                      color: $generic_white;
                      white-space: nowrap;
                      font-size: 15px;
                      font-family: $Helvetica_font;
                      //font-weight: 600;
                      margin-bottom: 7px;
                    }

                    &_description {
                      color: rgba(255, 255, 255, 0.56);
                      white-space: nowrap;
                      font-size: 12px;
                      font-family: $Helvetica_font;
                      //font-weight: 600;
                    }
                  }

                }
              }
            }

            &_settings {
              width: 22px;
              height: 22px;
              display: flex;
              align-items: center;
              margin-right: 20px;
              cursor: pointer;

              &:hover {

                .dashboard_main_messages_chat_header_menu_settings_icon {

                  svg {
                    fill: $generic_dark_black;
                  }
                }
              }

              &_icon {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                svg {
                  width: 100%;
                  height: 100%;
                  fill: $generic_grey;
                  transition: .15s ease-in-out;
                }
              }
            }

            &_options {
              width: 22px;
              height: 22px;
              display: flex;
              align-items: center;
              cursor: pointer;

              &:hover {

                .dashboard_main_messages_chat_header_menu_options_icon {

                  svg {
                    fill: $generic_dark_black;
                  }
                }
              }

              &_icon {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                svg {
                  width: 100%;
                  height: 100%;
                  fill: $generic_grey;
                  transition: .15s ease-in-out;
                }
              }
            }

          }
        }

        /************************************************
          Main Container | Messages | Chat | Box
         ************************************************/

        &_box {
          width: 100%;
          height: calc(100% - #{$messages_chat_header_height + $messages_chat_bottom_height});
          padding: 0 40px 30px;
          overflow: auto;

          &_message {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 40px 0;

            &[data-by='me'] {
              align-items: flex-end;
              
              .dashboard_main_messages_chat_box_message_header {
                flex-direction: row-reverse;

                &_image {
                  margin-right: 0;
                }
              }

              .dashboard_main_messages_chat_box_message_details {
                background-color: $generic_dark_black;

                &_line {
                  color: $generic_white;
                }
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            &_header {
              display: flex;

              &_image {
                display: flex;
                align-items: center;
                margin-right: 15px;

                img {
                  width: 25px;
                  height: 25px;
                  border-radius: 200px;
                }
              }

              &_title {
                color: $generic_dark_black;
                font-family: $Helvetica_font;
                //font-weight: 600;
                display: flex;
                align-items: center;
                margin-right: 15px;
                font-size: 14px;
              }

              &_timestamp {
                font-size: 12px;
                color: $generic_grey;
                font-family: $Helvetica_font;
                //font-weight: 600;
                display: flex;
                align-items: center;
                margin-right: 15px;
              }

            }

            &_details {
              position: relative;
              margin-top: 20px;
              padding: 20px;
              background-color: white;
              box-shadow: 0 3px 5px -2px rgba(0,0,0,0.2);
              border-radius: 4px;
              display: inline-block;
              max-width: 500px;

              &_tick {
                position: absolute;
                bottom: 12px;
                right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                  font-size: 11px;
                  color: $generic_skyblue;
                }
              }

              &_line {
                font-size: 14px;
                color: $generic_dark_black;

                &_loader {
                  margin-top: 10px;
                }

                &.typing {
                  color: $generic_green;
                  text-align: center;
                }

                p {
                  line-height: 1.9;

                  &:not(:first-child) {
                    margin-top: 8px;
                  }
                }
              }
            }
          }
        }

        /************************************************
          Main Container | Messages | Chat | Bottom
         ************************************************/

        &_bottom {
          width: 100%;
          height: $messages_chat_bottom_height;
          background-color: $generic_white;

          &_input {
            width: 100%;
            padding: 25px 30px 20px;

            input {
              width: 100%;
              font-size: 16px;
              color: $generic_dark_black;
              border: none;
              padding: 8px 15px;
              line-height: 1.4;
              font-family: $Helvetica_font;
              //font-weight: 600;
            }
          }

          &_tools {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 30px 20px;

            &_attachments {
              display: flex;

              &_doc {
                width: 24px;
                height: 24px;
                margin: 0 $message_chat_bottom_attachments_icon_gap 0 10px;
                position: relative;
                cursor: pointer;

                &:hover {
                  .dashboard_main_messages_chat_bottom_tools_attachments_doc_icon {
                    svg {
                      fill: $generic_black;
                      path {
                        stroke: $generic_black;
                      }
                    }
                  }
                }

                &_input {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                      cursor: pointer;
                    }
                  }
                }

                &_icon {
                  width: 100%;
                  height: 100%;
                  //pointer-events: none;
                  cursor: pointer;

                  svg {
                    width: 100%;
                    height: 100%;
                    fill: $generic_grey;
                    transition: .15s ease-in-out;

                    path {
                      stroke: $generic_grey;
                      transition: .15s ease-in-out;
                    }
                  }
                }
              }

              &_camera {
                width: 24px;
                height: 24px;
                margin-right: $message_chat_bottom_attachments_icon_gap;
                position: relative;

                &:hover {
                  .dashboard_main_messages_chat_bottom_tools_attachments_camera_icon {
                    svg {

                      path,
                      circle{
                        stroke: $generic_black;
                      }
                    }
                  }
                }

                &_input {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                      cursor: pointer;
                    }
                  }
                }

                &_icon {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  pointer-events: none;

                  svg {
                    width: 100%;
                    height: 100%;
                    transition: .15s ease-in-out;

                    path,
                    circle{
                      stroke: $generic_grey;
                      transition: .15s ease-in-out;
                    }
                  }
                }
              }

              &_mic {
                width: 24px;
                height: 24px;
                margin-right: $message_chat_bottom_attachments_icon_gap;
                position: relative;

                &:hover {
                  .dashboard_main_messages_chat_bottom_tools_attachments_mic_icon {
                    svg {

                      path,
                      line{
                        stroke: $generic_black;
                      }
                    }
                  }
                }

                &_input {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                      cursor: pointer;
                    }
                  }
                }

                &_icon {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  pointer-events: none;

                  svg {
                    width: 100%;
                    height: 100%;
                    transition: .15s ease-in-out;

                    path,
                    line{
                      stroke: $generic_grey;
                      transition: .15s ease-in-out;
                    }
                  }
                }
              }

              &_image {
                width: 24px;
                height: 24px;
                margin-right: $message_chat_bottom_attachments_icon_gap;
                position: relative;

                &:hover {
                  .dashboard_main_messages_chat_bottom_tools_attachments_image_icon {
                    svg {
                      fill: $generic_black;
                      path {
                        stroke: $generic_black;
                      }
                    }
                  }
                }

                &_input {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                      cursor: pointer;
                    }
                  }
                }

                &_icon {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  pointer-events: none;

                  svg {
                    width: 100%;
                    height: 100%;
                    fill: $generic_grey;
                    transition: .15s ease-in-out;

                    path {
                      stroke: $generic_grey;
                      transition: .15s ease-in-out;
                    }
                  }
                }
              }
            }

            &_action {

              &_button {
                height: 32px;
              }
            }
          }
        }

      }

    }

    /************************************************
      Main Container | Projects
     ************************************************/

    &_projects {
      width: 100%;
      overflow: auto;
      padding: 50px 80px;
      opacity: 0;
      transform: scale(0.99);
      pointer-events: none;
      animation: loaded .3s $fashioned_bezier .1s forwards;

      &_header {
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {
          font-size: 20px;
          color: $generic_dark_black;
          font-family: $Helvetica_font;
          //font-weight: 600;
        }

        &_menu {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &_thumbnail {
            border: 2px solid $generic_black;
            display: flex;
            align-items: center;
            padding: 3px;
            border-radius: 4px;
            margin-right: 30px;
            cursor: pointer;
            transition: .15s $fashioned_bezier;

            &.active {
              border: 2px solid $generic_blue;
              svg {
                fill: $generic_blue;
              }
            }

            &:hover {
              border: 2px solid $generic_dark_black;
              svg {
                fill: $generic_dark_black;
              }
            }

            &_icon {
              display: flex;
              align-items: center;

              svg {
                font-size: 19px;
                fill: $generic_black;
                transition: .15s $fashioned_bezier;
              }
            }

          }

          &_list {
            border: 2px solid $generic_black;
            display: flex;
            align-items: center;
            padding: 3px;
            border-radius: 4px;
            margin-right: 30px;
            cursor: pointer;
            transition: .15s $fashioned_bezier;

            &.active {
              border: 2px solid $generic_blue;
              svg {
                fill: $generic_blue;
              }
            }

            &:hover {
              border: 2px solid $generic_dark_black;
              svg {
                fill: $generic_dark_black;
              }
            }

            &_icon {
              display: flex;
              align-items: center;

              svg {
                font-size: 19px;
                fill: $generic_black;
                transition: .15s $fashioned_bezier;
              }
            }

          }

          &_dropdown {
            margin-right: 20px;
            width: 150px;
          }

          &_action {
            display: flex;
            align-items: center;

            &_btn {
              height: 34px;

              p {
                margin-top: -1px;
              }
            }
          }

        }

      }

      &_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        user-select: none;

        @media (max-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }

        &_item {
          background-color: $generic_white;
          display: inline-block;
          padding: 30px;
          box-shadow: 0 4px 7px -2px rgba(0,0,0,0.2);

          &_header {
            display: flex;
            justify-content: space-between;

            &_date {
              font-size: 13px;
              color: $generic_grey;
              font-family: $Helvetica_font;
              //font-weight: 600;
            }

            &_menu {
              display: flex;
              align-items: center;
              position: relative;

              &_icon {
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {

                  svg {
                    fill: $generic_blue;
                  }

                }

                svg {
                  font-size: 20px;
                  fill: $generic_grey;
                  transition: .15s ease-in-out;
                }
              }

              &_dropdown {
                position: absolute;
                top: 110%;
                right: 0;
                width: 150px;
                background: white;
                box-shadow: 0 3px 8px -2px rgba(0,0,0,0.3);
                opacity: 0;
                pointer-events: none;
                transform: scaleY(0.8) translateY(-30px);
                transition: .25s $fashioned_bezier;
                z-index: 200;
                border-radius: 4px;

                &.show {
                  opacity: 1;
                  pointer-events: auto;
                  transform: scaleY(1) translateY(0px);
                }
              }

            }
          }

          &_project {
            margin: 20px 0 30px;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              width: 40%;
              height: 1px;
              opacity: 0.4;
              background-color: $generic_grey;
            }

            &_image {
              width: 90px;
              height: 90px;
              border-radius: 200px;
              margin-bottom: 15px;

              img {
                width: 100%;
                height: 100%;
                border-radius: 200px;
              }
            }

            &_title {
              font-size: 16px;
              color: $generic_dark_black;
              font-family: $Helvetica_font;
              //font-weight: 600;
              margin-bottom: 15px;
            }

            &_users {
              display: flex;
              align-items: center;
            }

            &_status {
              margin: 30px 0;
              color: $generic_orange;

              &[data-status='In-Progress'] {
                color: $generic_orange;
              }

              &[data-status='Active'] {
                color: $generic_green;
              }

            }

          }

          &_bottom {
            display: flex;
            justify-content: space-between;

            &_item {
              font-family: $Helvetica_font;
              //font-weight: 600;
              font-size: 14px;
              color: $generic_grey;
              transition: .15s ease-in-out;
              cursor: pointer;

              &:hover {
                color: $generic_blue;
              }
            }
          }

        }
      }

      &_create {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        width: 90vw;
        max-width: 1100px;
        z-index: 400;
        box-shadow: 0 10px 20px -2px rgba(0,0,0,0.3);
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.95);
        transition: .4s $fashioned_bezier;
        animation: showModal .4s $fashioned_bezier forwards;
        overflow: hidden;
        border-radius: 4px;

        img {
          width: 20px;
          height: 20px;
        }

        &.hide {
          animation: hideModal .4s $fashioned_bezier forwards;
        }

        &_header {
          width: 100%;
          height: $create_project_header_height;
          display: flex;
          align-items: center;
          padding: 0 40px;
          border-bottom: 1px solid #eee;
          box-sizing: border-box;

          &_item {
            margin-right: 40px;
            color: $generic_grey;
            font-family: $Helvetica_font;
            //font-weight: 600;
            cursor: pointer;
            transition: .2s ease-in-out;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;

            &:hover {
              color: $generic_dark_black;
            }

            &.active {
              color: $generic_dark_black;

              &::before {
                opacity: 1;
                transform: scaleX(1);
              }

              &::after {
                opacity: 1;
                transform: scaleX(1);
              }
            }

            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 3px;
              border-radius: 200px;
              background-color: $generic_light_grey;
              opacity: 0;
              transform: scaleX(0.2);
              transition: .2s $fashioned_bezier;
            }

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 60%;
              height: 3px;
              border-radius: 200px;
              background-color: $generic_green;
              opacity: 0;
              transform: scaleX(0.2);
              transition: .2s $fashioned_bezier;
            }

          }
        }

        &_main {
          position: relative;
          padding: 50px 40px 0;
          height: calc(100% - #{$create_project_header_height + $create_project_bottom_height});

          &_item {
            display: flex;
            height: 100%;
            //border: 1px solid $generic_light_grey;

            &_left {
              width: 50%;
              flex-shrink: 0;

              &_choose {
                width: 100%;
                border: 1px solid $generic_light_grey;
                border-right: none;
                padding: 30px;
                box-sizing: border-box;
                background-color: rgba(238, 238, 238, 0.35);

                &_container {
                  background-color: $generic_white;
                  display: flex;

                  &_left {
                    width: 120px;
                    height: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    flex-shrink: 0;
                    border: 2px dashed $generic_light_grey;

                    &_image {
                      width: 100%;
                      height: 100%;

                      img {
                        width: 100%;
                        height: 100%;
                        border-radius: 200px;
                      }
                    }
                  }

                  &_right {
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    width: calc(100% - 120px);
                    flex-shrink: 0;
                    border: 2px dashed $generic_light_grey;
                    border-left: none;

                    &_content {
                      color: $generic_grey;
                      font-family: $Helvetica_font;
                      //font-weight: 600;

                      &_bottom {
                        margin-top: 10px;
                        display: flex;

                        &_choose {
                          margin-left: 8px;
                          color: $generic_blue;
                          position: relative;
                          overflow: hidden;

                          input {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            opacitY: 0;
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }

                }

              }

              &_common-item {
                width: 100%;
                border-bottom: 1px solid $generic_light_grey;
                border-left: 1px solid $generic_light_grey;
                padding: 25px 30px 15px;
                position: relative;

                &_label {
                  position: absolute;
                  top: 50%;
                  left: 32px;
                  font-size: 18px;
                  font-family: $Helvetica_font;
                  ////font-weight: 600;
                  color: $generic_grey;
                  transform: translateY(-50%);
                  pointer-events: none;
                  transition: .2s $fashioned_bezier;
                }

                input {
                  font-size: 20px;
                  padding-top: 10px;
                  width: 100%;
                  border: 2px solid transparent;

                  &:focus,
                  &:valid {

                    ~ .dashboard_main_projects_create_main_item_left_common-item_label {
                      top: 30%;
                      font-size: 12px;
                    }
                  }
                }
              }

            }

            &_right {
              width: 50%;
              flex-shrink: 0;
              display: flex;
              flex-direction: column;

              &_common-item {
                width: 100%;
                border: 1px solid $generic_light_grey;
                border-bottom: none;
                padding: 25px 30px 15px;
                position: relative;

                &.textarea {
                  height: 100%;
                  border-bottom: 1px solid $generic_light_grey;

                  .dashboard_main_projects_create_main_item_right_common-item_label {
                    position: absolute;
                    top: 24%;
                    left: 32px;
                    font-size: 18px;
                    font-family: $Helvetica_font;
                    ////font-weight: 600;
                    color: $generic_grey;
                    transform: translateY(-50%);
                    pointer-events: none;
                    transition: .2s $fashioned_bezier;
                  }

                  textarea {
                    width: 100%;
                    height: 100%;
                    padding-top: 10px;
                    border: none;
                    resize: none;
                    padding-left: 2px;
                    font-size: 18px;
                    line-height: 1.5;
                    font-family: $PT;

                    &:focus,
                    &:valid {
                      ~ .dashboard_main_projects_create_main_item_right_common-item_label {
                        top: 10%;
                        font-size: 12px;
                      }
                    }
                  }
                }

                &_label {
                  position: absolute;
                  top: 50%;
                  left: 32px;
                  font-size: 18px;
                  font-family: $Helvetica_font;
                  ////font-weight: 600;
                  color: $generic_grey;
                  transform: translateY(-50%);
                  pointer-events: none;
                  transition: .2s $fashioned_bezier;
                }

                input {
                  font-size: 20px;
                  padding-top: 10px;
                  width: 100%;
                  border: 2px solid transparent;

                  &:focus,
                  &:valid {

                    ~ .dashboard_main_projects_create_main_item_right_common-item_label {
                      top: 30%;
                      font-size: 12px;
                    }
                  }
                }
              }
            }

          }

        }

        &_bottom {
          height: $create_project_bottom_height;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 0 40px;

          &_button {
            padding: 10px 20px;
            border: 1px dashed rgba(2, 86, 255, 0.23);
            cursor: pointer;
            transition: .13s ease-in;
            border-radius: 4px;
            overflow: hidden;
            position: relative;

            &:hover {
              background-color: rgba(2, 86, 255, 0.13);
            }

            p {
              font-size: 16px;
              font-family: $Helvetica_font;
              //font-weight: 600;
              color: $generic_blue;
            }

          }

        }

      }

    }

  }
}

@keyframes hideModal {
  0% {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes loadCards {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
}

@keyframes loaded {
  0% {
    opacity: 0;
    transform: scale(0.99);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
}